[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=linework
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Krita Linework Tools
Comment=Native Linework tools, Krita brush presets, smoothing, multi-point editing, Bezier handles and thickness.
